.resourceJumbotron {
  margin-top: 50px;
  margin-bottom: 75px;
  text-align: justify;
  display: flex;
  color: #dde4e5;
  p {
    font-size: 1.5rem;
  }
  h1 {
    color: #93d1e0;
  }
  @media (max-width: 992px) {
    padding: 0 20px;
    p {
      font-size: 1.25rem;
    }
  }
}
