// Global variables
$primary: #93d1e0;
$secondary: #184752;
$tint: #17444f;
$dark: #0a1c21;
$light: #dde4e5;
$body-bg: $dark;
$body-color: $light;
$font-family-base: "FreightSans Pro";

// Accordion styling
$accordion-color: $light;
$accordion-bg: #0e292f;
$accordion-button-focus-border-color: $tint;
$accordion-button-focus-box-shadow: none;

// Card styling
$card-bg: $dark;
$card-color: $light;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
