.landing,
.solutions,
.business,
.research {
  padding: 50px 0px;
  text-align: center;
  h1,
  h2,
  h3 {
    color: #93d1e0;
    font-size: 2.5rem;
  }
  p {
    font-size: 1.5rem;
    color: #dde4e5;
  }
  @media (max-width: 992px) {
    padding: 50px 20px;
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 1.35rem;
    }
  }
}
.skewBgR {
  transform: skew(0deg, 2deg);
  padding: 25px 0;
  background-color: #93d1e0;
}

.scewBgL {
  transform: skew(0deg, -2deg);
  padding: 25px 0;
}

.landing {
  margin-top: 75px;
  margin-bottom: 165px;
  text-align: justify;
  h1 {
    font-size: 4rem;
  }
  @media (min-width: 1200px) {
    button {
      width: 175px;
      height: 60px;
      font-size: 1.5rem;
    }
  }
  @media (max-width: 1200px) {
    h1 {
      font-size: 3.5rem;
    }
  }
  @media (max-width: 992px) {
    margin-bottom: 100px;
    padding: 0 20px;
    text-align: center;
    margin-top: 10px;
    img {
      height: 320px;
    }
    h1 {
      text-align: start;
      font-size: 3.5rem;
      @media (max-width: 500px) {
        font-size: 2.5rem;
      }
    }
    button {
      margin-bottom: 35px;
    }
  }
}

.solutions {
  text-align: justify;
  transform: skew(0deg, -2deg);
  background-color: #93d1e0;
  li {
    list-style: none;
    font-size: 1.75rem;
    color: #0a1c21;
  }
  h2 {
    text-align: center;
    color: #0a1c21;
  }
  p {
    color: #0a1c21;
  }

  @media (max-width: 992px) {
    .ourSolution {
      margin-top: 50px;
    }
  }
}

.business {
  background-color: #0a1c21;
  transform: skew(0deg, 2deg);
  img {
    height: 500px;
    @media (max-width: 575px) {
      height: 300px;
    }
  }
  .webGen {
    margin-top: 50px;
  }
}

.research {
  transform: skew(0deg, 2deg);
  background-color: #93d1e0;
  margin: 40px 0;
  h2 {
    color: #0a1c21;
  }
  button {
    padding: 10px;
    width: 150px;
  }
  p {
    margin-bottom: 100px;
    color: #0a1c21;
  }
  @media (max-width: 992px) {
    margin-bottom: 50px;
  }
}
